/*Spells*/
.sheet-rolltemplate-pf_spell table {
	width:100%;
	background-color:white;
	border:2px solid black;
  	border-top: hidden;
  	border-collapse: separate;
  	border-spacing: 0;
  	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sheet-rolltemplate-pf_spell caption {
	color: #FFFFFF;
  	background-color:#000000;
	padding: 2px 10px 2px 10px;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	font-family: 'Lato','Arial', Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sheet-rolltemplate-pf_spell td {
	padding:5px;line-height:1em;
	vertical-align:top;
	text-align:left;
}

.sheet-rolltemplate-pf_spell tr:nth-child(even) {
	background-color:#D3D3D3;
}

.sheet-rolltemplate-pf_spell .sheet-tcat {
  	font-weight: bold;
}

.sheet-rolltemplate-pf_spell .inlinerollresult  {
  	background-color: transparent;
  	border: none;
}
 
.sheet-rolltemplate-pf_spell .inlinerollresult.fullcrit {
	color: #3FB315;
  	border: none;
}
 
.sheet-rolltemplate-pf_spell .inlinerollresult.fullfail {
	color: #B31515;
  	border: none;
}
 
.sheet-rolltemplate-pf_spell .inlinerollresult.importantroll {
	color: #4A57ED;
  	border: none;
}


/*check*/
.sheet-rolltemplate-pf_check table {
	width:100%;
	background-color:white;
	border:2px solid black;
	border-top: hidden;
	border-collapse: separate;
	border-spacing: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sheet-rolltemplate-pf_check caption {
	background-color:#000000;
	color:white;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	font-weight:bold;
	font-size:1.1em;
	padding:5px;
	background-image: url(https://i.imgur.com/qFsJgts.jpg), url(https://i.imgur.com/0qYWQ2N.jpg);
	background-position: left, right;
	background-repeat: no-repeat;
	text-align: center;
	background-size: contain;
}

.sheet-rolltemplate-pf_check td {
	padding:5px;line-height:1.4em;
	vertical-align:top;
	text-align:left;
}

.sheet-rolltemplate-pf_check tr:nth-child(even) {
	background-color:#D3D3D3;
}

.sheet-rolltemplate-pf_check .sheet-tcat {
  	font-weight: bold;
}

.sheet-rolltemplate-pf_check .inlinerollresult  {
  	background-color: transparent;
  	border: none;
}
 
.sheet-rolltemplate-pf_check .inlinerollresult.fullcrit {
	color: #3FB315;
  	border: none;
}
 
.sheet-rolltemplate-pf_check .inlinerollresult.fullfail {
	color: #B31515;
  	border: none;
}
 
.sheet-rolltemplate-pf_check .inlinerollresult.importantroll {
	color: #4A57ED;
	border: none;
}
